[build]
  command = "npm run build"
  publish = "build"
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  included_files = ["netlify/email_templates/*"]

[[scheduled]]
  name = "nightly-reminders"
  # Runs at 7:17 PM EST / 8:17 PM EDT
  cron = "29 0 * * *"
  function = "nightlyReminders"

